.Search {
  color: blue;
}

.para1 {
  border-width: 1px;
  border-style: solid;
  border-color: red;
}

button.search-submit {
  column-fill: red;
}
.para1 {
  color: red;
}

#primary {
  colour: orange;
}

p {
  width: 50%;
}

/* use this to float objects in the middle of set enclosures  */
/* div {
  margin: 0 auto;
} */
